.content{
    width: 100%;
    height: 50vh;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}
.contenttext{
    font-size: 5rem;
    text-align: center;
}

.images{
    margin-top: 10px;
}

.images img{
    width: 150px;
}

.images a{
    margin: 0 10px;
    display: inline-block;
}

.table{
    margin-left: 40vh;
}

@media screen and (max-width: 768px){
    .contenttext{
        font-size: 1.5rem;
    }

    .table{
        margin-left: 1vh;
    }

    .playstore{
        width: 15vh;
    }

    .appstore{
        width: 15vh;
    }

    .content{
        height: auto;
    }
}