.footerdiv{
    width: 100%;
    height: 25vh;
    background-color: #e2e1e1;
    color: #333;
    text-align: center;
    bottom: 0;
}

.footercontent {
    padding-top: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.footerleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerleft h2 {
    text-align: left;
    margin: 0;
    font-size: 2.5rem;
}

.socialicons {
    text-align: left;
    margin-top: 10px;
}

.socialicons a {
    margin: 0 5px;
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.socialicons a:hover {
    color: #007bff;
}

.footerright {
    display: flex;
    gap: 40px;
}

.footerbutton {
    text-decoration: none;
    background: none;
    border: none;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.footerbutton:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .footerdiv{
        height: 15vh;
    }

    .footercontent {
        padding-top: 4vh;
        max-width: 50vh;
    }

    .footerleft h2{
        font-size: 1rem;
    }

    .socialicons a {
        font-size: 1rem;
    }

    .footerright{
        gap: 15px;
    }

    .footerbutton{
        font-size: 0.8rem;
    }
}
