.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
}

.content h1 {
    font-size: 6rem;
    text-align: center;
    margin: 0;
    background: linear-gradient(to right, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p {
    font-size: 1.5rem;
    margin: 1rem;
}

.content h2 {
    background: linear-gradient(to right, #eca5a5, #e15959, #caab21, #95bb0d, #9ef300 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 3rem; /* Increased font size for better visibility */
    }

    .content p{
        font-size: 1rem;
    }
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
  }

  .paragraphs{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
}