.heroimgs{
    position: absolute;
    padding: 10vh;
    border: none;
    border-radius: 15vh;
    left: 0;
    width: 100%;    
    height: 140vh;
    z-index: -1;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
  }
  

.box{
    width: 100%;
    height: 10vh;
}

.heroimg{
    height: 140vh;
}

.paragraphs{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 1000;
}

.wallet{
    font-size: 80px;
    padding-top: 70px;
}

.colorchng{
    background: linear-gradient(to right, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline{
    font-size: 70px;
    padding-left: 10vh;
}

.hero2{
    margin-left: 10vh;
    height: 300px;
    width: 400px;
}

.largetext{
    background: linear-gradient(135deg,#fff, #5fffca, #7bb4fe);
    border-radius: 10px;
    padding: 20px;
    margin: 10vh;
}

.paragraph{
    padding: 5vh;
    font-size: 30px;
}

.high{
    font-size: 50px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .paragraphs{
        font-size: 1rem;
    }

    .box{
        width: 100%;
        height: 10vh;
    }

    .wallet{
        font-size: 35px;
    }

    .heroimgs{
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .headline{
        font-size: 25px;
        padding-left: 1vh;
    }

    .hero2{
        margin-left: 1vh;
        height: auto;
        width: 100%;
    }

    .heroimg{
        height: 100vh;
    }

    .largetext{
        border-radius: 5px;
        padding: 5px;
        margin: 4vh;
    }

    .paragraph{
        padding: 3vh;
        font-size: 15px;
    }

    .high{
        font-size: 20px;
        font-weight: 600;
    }
}