/* Global styles for the team section */
.teamsection {
    padding: 2rem;
  }
  
  .teamheading {
    text-align: center;
    margin-bottom: 2rem;
  }

  .proheading {
    text-align: center;
  }

  .proheading h1{
    font-size: 2rem;
    font-weight: 700;
    color: #111827;
    padding-bottom: 1rem;
  }

  .proheading p{
    color: #6b7280; /* text-gray-500 */
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .teamheading h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #111827; /* text-gray-900 */
  }
  
  .teamheading p {
    color: #6b7280; /* text-gray-500 */
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .teamgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
  }
  
  .teammember {
    text-align: center;
  }
  
  .teammember img {
    width: 150px;
    height: 150px;
    border-radius: 0.75rem; /* rounded-lg */
    object-fit: cover;
  }
  
  .teammember h3 {
    font-size: 1.125rem; /* text-lg */
    font-weight: 600;
    color: #111827; /* text-gray-900 */
    margin-top: 1rem;
  }
  
  .teammember p {
    color: #6b7280; /* text-gray-500 */
    font-size: 0.875rem; /* text-sm */
  }
  
  .teammember .socialicons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .teammember .socialicons a {
    color: #6b7280; /* text-gray-500 */
    font-size: 1.25rem; /* text-xl */
    transition: color 0.3s;
  }
  
  .teammember .socialicons a:hover {
    color: #3b82f6; /* text-blue-500 */
  }
  